.place__title {
  margin: 48px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.1;

}

@media screen and (max-width: 1024px) {
  .place__title {
      margin: 24px;
      font-size: 30px;
  }
}

@media screen and (max-width: 820px) {
  .place__title {
      font-size: 28px;
  }
}