.people__subtitle {
    max-width: 984px;
}

@media screen and (max-width: 1080px) {
    .people__subtitle {
        margin: 0 auto 25px;
        max-width: calc(100vw - 20px * 2);
    }
}

@media screen and (max-width: 767px) {
    .people__subtitle {
        max-width: calc(100vw - 20px * 2);
    }
}

@media screen and (max-width: 450px) {
    .people__subtitle {
        max-width: calc(100vw - 20px * 2);
    }
}