.menu__item:last-of-type {
    justify-self: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 375px) {
    .menu__item:last-of-type {
        justify-self: initial;
        justify-content: initial;
    }
}