/* --normalize.css-- */
@import url(../vendor/normalize.css);

/* --fonts.css-- */
@import url(../vendor//fonts/fonts.css);

/* --root-- */
@import url(../blocks/root/root.css);

/* --header-- */
@import url(../blocks/header/header.css);
@import url(../blocks/menu/__items/menu__items.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);

/* --intro-- */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__image/intro__image.css);

/* --places-- */
@import url(../blocks/places/places.css);

/* --place-- */
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__paragraph-container/place__paragraph-container.css);
@import url(../blocks/place/_box/place_box_mountain.css);

/* --people-- */
@import url(../blocks/people/__subtitle/people__subtitle.css);

/* --cards-- */
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__title/cards__title.css);

/* --footer-- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);

/* --section-- */
@import url(../blocks/section/section.css);
@import url(../blocks/section/_type/section_type_narrow.css);
@import url(../blocks/section/_type/section_type_wide.css);
@import url(../blocks/section-paragraph/section-paragraph.css);

@import url(../blocks/highlited-heading/highlited-heading.css);
@import url(../blocks/title/title.css);


/* --в случае аварии расскомментировать-- */
/* * {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
} */