.intro__image {
  object-fit: cover;
  box-sizing: border-box;
  max-width: 100%;
  justify-self: center;
  padding: 16%;
}

@media screen and (max-width: 320px) {
  .intro__image {
    padding: 0;
  }
}